/* semantic ui messed up the css, body below is to fix */
body{
  display:block !important;
  color: black;
  
}
.App {
  text-align: center;
  padding:0 3vw 3vw;
  background-color:whitesmoke;
}

.About{
  width:86vw;
  margin-left:7vw;
}
.About>h2{
  margin:0;
}
.aboutQuote{
  padding:0 2em;
  border: 3px solid gray;
  border-radius: 15px;
}

.full-screen-width {
  width: 100vw;
  
}
